In [1]:
titanic_csv = open('titanic.csv','r')

In [2]:
linhas = titanic_csv.readlines()

In [3]:
linhas[23]

'23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q\n'

In [4]:
titanic_csv.close()

In [5]:
colunas = linhas[0].split(',')

In [6]:
colunas

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked\n']

In [8]:
dados = linhas[1].split(',')

In [9]:
print(colunas[3])
print(dados[3])
print(len(colunas), len(dados))

Name
"Braund
12 13

In [10]:
import re
match = re.compile(r'"(.*)(,)(\s.*)"')
match.sub(r'"\3 \1"', linhas[1])

'1,0,3," Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S\n'

In [16]:
def tratar_nome(linha):
    import re
    match = re.compile(r'"(.*)(,)(\s.*)"')
    return match.sub(r'"\3 \1"', linha)

In [19]:
linha1_tratada = tratar_nome(linhas[1])
type(linha1_tratada)

str

In [20]:
linha1_separada = linha1_tratada.split(",")

In [23]:
print(colunas)
print(linha1_tratada)
print(linha1_separada)
print(len(colunas),len(linha1_separada))

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked\n']
1,0,3," Mr. Owen Harris Braund",male,22,1,0,A/5 21171,7.25,,S

['1', '0', '3', '" Mr. Owen Harris Braund"', 'male', '22', '1', '0', 'A/5 21171', '7.25', '', 'S\n']
12 12

In [24]:
titanic_dados = {}
for coluna in colunas:
    titanic_dados[coluna] = []
titanic_dados

{'Age': [],
 'Cabin': [],
 'Embarked\n': [],
 'Fare': [],
 'Name': [],
 'Parch': [],
 'PassengerId': [],
 'Pclass': [],
 'Sex': [],
 'SibSp': [],
 'Survived': [],
 'Ticket': []}

In [ ]:
dados_tratados = []
for dado in linhas[1:]:
    dado_tratado = tratar_nome(dado)
    dado_como_lista = dado_tratado.split(',')